.container{
display: flex;
flex-direction: row
};
.card{
height: 300px;
max-width: 300px;
background-color:rosybrown;
border-radius: 10px
};
img{
  max-width: 300px;
  width: 300px;
}
.card-inside{
display: flex;
  flex-direction: column
};